body {
    @apply font-base;
    min-width: 320px;
    background: url('../assets/img/bg.jpg') center top no-repeat;
}

.centered {
    width: var(--container-width);
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}